.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin-right: 0;
}

.utah {
  display: flex;
  flex-direction: column;
}

.ohio {
  display: flex;
  flex-direction: column;
}

.numbers {
  border: 1px solid black;
  height: 400%;
  width: 100%;
}

button {
  margin: 5px;
}

select {
  margin-bottom: 15px;
}

select {
  text-align: center;
}

p {
  cursor: pointer;
}